<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cjy.party.dao.ObjectProblemMapper">
    <select id="getAllObjProblem" resultType="com.cjy.party.domain.ObjectProblem">
        select *
        from Objective_problems;
    </select>
    <update id="updateObjProblem" parameterType="com.cjy.party.domain.ObjectProblem">
        update objective_problems
        set objectpro_com=#{objectpro_com},
            objectpro_A=#{objectpro_A},
            objectpro_B=#{objectpro_B},
            objectpro_C=#{objectpro_C},
            objectpro_D=#{objectpro_D},
            objectpro_ans=#{objectpro_ans}
        where objectpro_id = #{objectpro_id};
    </update>
    <delete id="deleteProblem" parameterType="java.lang.Integer">
        delete
        from objective_problems
        where objectpro_id = #{id};
    </delete>
    <insert id="insertProblem" parameterType="com.cjy.party.domain.ObjectProblem">
        insert into objective_problems(objectpro_com, objectpro_A, objectpro_B, objectpro_C, objectpro_D, objectpro_ans)
        values (#{objectpro_com}, #{objectpro_A}, #{objectpro_B}, #{objectpro_C}, #{objectpro_D}, #{objectpro_ans});
    </insert>
    <select id="getObjectInfoById" parameterType="java.lang.Integer" resultType="com.cjy.party.domain.ObjectProblem">
        select *
        from Objective_problems
        where objectpro_id = #{id};
    </select>
</mapper>
