<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cjy.party.dao.SubjectProblemMapper">

    <select id="getSubProblemById" parameterType="java.lang.Integer" resultType="com.cjy.party.domain.SubjectProblem">
        select *
        from subjective_problems
        where subpro_id = #{subpro_id};
    </select>
    <select id="getAllSubProblem" resultType="com.cjy.party.domain.SubjectProblem">
        select *
        from subjective_problems;
    </select>
</mapper>
